node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage/
.vite/
gastosin-scaffold.zip
.direnv
*.pdf

# Terraform
_iac/.terraform/
_iac/.terraform.lock.hcl
_iac/terraform.tfstate
_iac/terraform.tfstate.backup
_iac/terraform.tfvars